@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&family=Orbitron&family=VT323&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cabin Condensed', sans-serif;
}


.nav-link{
    color: #000;
    font-size: 20px;

}


/* Start Banner Section */

.card{
    position: relative;
}



.brandsname{

    color: #9af4d6;
    font-size: 100px;
    letter-spacing: 1rem;


    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%,-50%);
}

/* End Banner Section */


/* Start Intro Section */

.introtexts{
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
}


.introsectexts{
    font-size: 15px;
    letter-spacing: 1px;
}


/* End Intro Section */


/* Start Creation Section */

.backgrounds{
    width: 600px;
    height: 600px;
    background-color:#fbffa7;

    position: relative;

    margin-top: 50px;
}

.images1{
    position: absolute;
    left: -50px;
    top:-50px;
}


.images2{
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
}

.images3{
    position: absolute;
    left: -50px;
    bottom: -50px;
}

/* End Creation Section */





/* Start Creation1 Section */


.creation1{
    width: 600px;
    height: 600px;
    background-color: #b6ffc0;

    position: relative;
}

.image4{
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
}

.image5{
    position: absolute;
    right: -50px;
    top:-50px;
}

.image6{
    position: absolute;
    right: -50px;
    bottom:-50px ;
}


/* End Creation1 Section */



.lates{
    height: 600px;
    background-color: #b1c5ff;
    font-size: 15px;

    padding: 40px 80px;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.lates a{
    display: block;
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 1px;
    margin-top: 30px;
}


/* Footer Section */

.footer-head{
    letter-spacing: 3px;
    font-size: 30px;
    font-weight: bold;
    margin:30px 0;
    padding: 10px 0;

}


.form{
    margin:10px 0;
}
.form-inputs{
    width: 80%;
    border: 1px solid #ccc;
    padding: 5px 8px;
    outline: none;
}

.title-texts{
    font-weight: 600;
}

.secondary-titles{
    letter-spacing: 1px;
}


.links-items{
    color: rgb(88, 85, 85);
    text-decoration: none;
}


footer .arrangements{
    flex-direction: row-reverse;
    justify-content: flex-end;
}


.last-parts{
    display: flex;
    align-items: center;
}

.logo-end{
    text-align: end;
}
/* End Footer SEction */


@media only screen and (max-width: 600px) {

    .card{
        margin-top: 10px;
    }

    .backgrounds{
        margin-top: 0px;
    }

    .brandsname{
        font-size: 50px;
    }


    .images1{
        width: 200px;
        left: 0px;
        top:0px;
    }
    
    
    .images2{
       
        width: 300px;
        right: 50%;
        transform: translate(50%,-50%);
 
    }
    
    .images3{
        width: 200px;
        left: calc(100% - 200px);
        bottom: 0;
 
    }


    .creation1{
        width: 350px;
        height: 400px;
    }



    .image4{
        width: 0;
    }

    .image5{
        width: 300px;
        right:50% ;
        

        transform: translate(50%);
    }

    .image6{
        width: 300px;
        right: 50%;
        transform: translate(50%);
    }


    .lates{
        margin-top:10px ;
    }

 
    footer .arrangements{
        flex-direction: row;
    }
}

@media only screen and (max-width: 768px) {

    .nav-link{
        font-size: 8px;
    }

    .last-parts{
        display: block;
    }
    
    .logo-end{
        text-align: start;
    }


}

@media only screen and (max-width: 970px){
    .nav-link{
        font-size: 13px;
    }
}

